
body{
background: grey top center no-repeat fixed;
background-attachment: fixed;
background-size: cover;
height: 20000px;
}
::-webkit-scrollbar{
	width: 0;
}
#arrowL{
	background:url("arrowleft.png") no-repeat;
	height:20px;
	width: 20px;
	position:absolute;
	top:5px;
	left:15%;
	z-index: 100;
	background-size:100%;
	transition:1s;
}
#arrowR{
	background:url("arrowright.png") no-repeat;
	height:20px;
	width: 20px;
	position:absolute;
	top:5px;
	right:15%;
	z-index: 100;
	background-size:100%;
	transition:1s;
}
#scroller{
	height:30px;
	width:60%;
	position:fixed;
	bottom:5px;
	left:20%;
	background:grey;
	z-index: 121;
	opacity:.5;
	border-radius: 20px;
	cursor:url("cursor.png"),help;
}
#scroller:hover #arrowL{
	left:10px;
	opacity:1;
}
#scroller:hover #arrowR{
	right:10px;
	opacity:.2;
}
#bckgr{
	background:url("bg.jpg") no-repeat;
	background-size:auto 100%;
	position:fixed;
	width:600%;
	top:0;
	left:0;
	height: 100%;
	z-index:1;
}



